*{
	margin: 0px;
}
.container{
	margin: 100px;
	width: 30%;
	height: 500px;
	border: 2px solid red;
	background: linear-gradient(to left,rgba(22, 22, 22, 0.6),rgba(10, 11, 11, 0.6)),
		url(../magazine/mag05.jpg);
	}
	p{
		font-size: 30px;
		font-weight: 700;
		color: white;
		text-align: center;
		line-height: 2;
		font-family: !important;
	}
	.slider{margin: 100px;
	width: 30%;
	height: 500px;
	border: 2px solid red;
	background-position:right-top;
	background: linear-gradient(to left, rgba(34, 33, 33, 67%),rgba(11, 11, 11, 8%)), url(../magazine/mag05.jpg);

	}
	.slider2{margin: 100px;
	width: 30%;
	height: 500px;
	border: 2px solid black;
	background: linear-gradient(to left, rgba(122, 129, 107, 22%),rgba(17, 17, 17, 8%)), url(../magazine/mag06.jpg);

	}
